@using WebApplication4.Vm
@model LoginVm
@{
    ViewData["Title"] = "Login";
}

<form method="post"> 
    <div class="mb-3">
        <label asp-for="EmailOrUserName"></label>
        <input asp-for="EmailOrUserName" />

        <span asp-validation-for="EmailOrUserName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" />

        <span asp-validation-for="Password"></span>
    </div>
     <div class="mb-3">
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />

        <span asp-validation-for="RememberMe"></span>
    </div>
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly"></div>
        <button type="submit">login</button>
    </div>
</form>

