@{
    ViewData["Title"] = "Home Page";
}

<section id="top">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12">
          <div class="txt">
            <h1>Nomad Force
            </h1>
            <h5>create a great video for your website

            </h5>
          </div>

        </div>
      </div>
    </div>


  </section>

  <section id="intro" class="headline">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
          <div class="cart1">
            <div class="title">
              <h1>Let us create...
              </h1>
            </div>
            <div class="desc">
              <h5>You may contribute a small amount via PayPal if Nomad Force Template is useful for you. This will
                absolutely help us to keep creating better CSS templates for you.
              </h5>
              <h5>We provide you 100% free templates on TemplateMo website. Images are provided by FreePik and Unsplash
                websites.

              </h5>


            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
          <div class="cart2">
            <div class="desc">
              <h5>This Bootstrap 5 layout is free to use for your business. You are allowed to edit it in any way you
                like. However, please do not redistribute this template ZIP file for a template download purpose on any
                other website such as Free CSS collections.

              </h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="slider"  class="headline">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
          <div class="boxAll">
            <div class="box1"><img src="~/assest/image/left1.jpg" alt="" width="300px"></div>
            <div class="box2">

              <div class="title">
                <h1>We’re - idealists and strategic thinkers.
                </h1>
              </div>
              <div class="desc">
                <p>Over six years in the video business

                  </h6>
                <p>Read News & Events Work with Us</p>
              </div>
            </div>
          </div>




        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 mustafa">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" id="sus">
              <div class="carousel-item active">
                <img src="~/assest/image/right1.jpg" alt="" width="600px" id="imgg">
                <div class="Human">
                  <h3>Mustafa Mistik</h3>
                  <h6>Web Developer</h6>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/assest/image/right1.jpg" alt="" width="600px" id="imgg">
                <div class="Human">
                  <h3>Mustafa Mistik</h3>
                  <h6>Web Developer</h6>
                </div>
              </div>
              <div class="carousel-item">
                <img src="~/assest/image/right1.jpg" alt="" width="600px" id="imgg">
                <div class="Human">
                  <h3>Mustafa Mistik</h3>
                  <h6>Web Developer</h6>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>



      </div>
    </div>


  </section>
  <section id="middle">
    <dov class="container">
      <div class="row">

        <div class="col-md-12 col-lg-12">
          <h1>News & Events
          </h1>


        </div>
        <div class="col-md-6"><img src="~/assest/image/left2.jpeg" alt="">
          <h1 id="hh">Effortless
          </h1>
          <h5>Branding</h5>
        </div>
        <div class="col-md-6"><img src="~/assest/image/rigth2.jpeg" alt="" width="100%">
          <h1 id="hh">Effortless
          </h1>
          <h5>Branding</h5>
        </div>
        <div class="col-md-6">

          <img src="~/assest/image/left3.jpeg" alt="" id="left3">
          <h1 id="hh">Effortless
          </h1>
          <h5>Branding</h5>
        </div>
        <div class="col-md-6"><img src="~/assest/image/rigth3.jpeg" alt="" id="right3">
          <h1 id="hh">Effortless
          </h1>
          <h5>Branding</h5>
        </div>



      </div>
    </dov>
  </section>
  <section id="events">

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6"><div class="img1"><img src="~/assest/image/bottom1.jpg" alt="" width="100%"></div>
          <div class="title">
            <h4>The rise of the gig economy spells the end for these workers the old system</h4>
            <div class="date">22 hours ago
            </div>
          </div>
          

        </div>

        <div class="col-md-6 col-lg-6 col-sm-6">
          <div class="img"> <img src="~/assest/image/bottom2.jpeg" alt="" width="53%">
            <div class="txt">
              <h5>Job Opportunities: Digital, Marketing</h5>
              <h6> Alaska,
                August 6, 2021</h6>
            
            
            </div>
          </div>
          <div class="img"> <img src="~/assest/image/bottom2.jpeg" alt="" width="53%">
            <div class="txt">
              <h5>Job Opportunities: Digital, Marketing</h5>
              <h6> Alaska,
                August 6, 2021</h6>
            
            
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="forms">
<div class="container">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <h1>Dont' be shy, write to us
      </h1>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      
</div>
  </div>
</div>

  </section>